body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}   

.icon-placeholder {
    padding: 5px 0 10px;
    border-radius: 5px;
    border: 2px solid #d3c6e4;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.20);
    width: 200px;
    outline: none;
}

.form {
    
    background-color: rgb(243, 243, 234);
    height: 95vh;
    width: 30%;
    align-items: center;
}
.img {
    height: 100px;
}
.image {
    padding-top: 50px;
    height: 70px;
    margin-top: 10px;
    
}
input {
    font-size: 20px;
}
   
.email::placeholder {
    
    margin-bottom: 10px;
    background-image: url(guser_gris.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}
.password::placeholder {
    margin-bottom: 10px;
    background-image: url(ojo_gris\ 30x11.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.email {
    margin-top: 100px;
    margin-bottom: 20px;

}
.button {
    margin-top: 60px;
    color: grey;
    font-size: 20px;
}